*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* divide bootstrap */
.row {
  margin: 0 !important;
  padding: 0 !important;
}
.divide{
    border: 1px solid #ECECEC;
}
/* */

/* logo */
.logo{
    width: 10%;
}
/* */

/* Welcome header */
.header-topic{
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.color-topic{
    background-color: #ECECEC;
    border-bottom: 2px solid #ff9c00;
}
/* */
.topic{
    margin-left: 20px;
}
