*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
}
@font-face {
    font-family: titanfont;
    src: url(avenger.ttf);
  }
@font-face {
    font-family: anime;
    src: url(anime-ace.bold.ttf);
  }
section{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url('../wallpaper/titan2.jpg');
    background-size: cover;
    background-position: center center;
    color: #6187a6;
    font-size: 17px;
    font-weight: 500;

}
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px #000;

}
h1{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
    font-family: titanfont;
    color: #147890;
}
.txt{
    font-family: titanfont;
}
.control input{
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    outline: none;
    margin: 1em 0;
    border: 1px solid #ccc;
}
.control input:focus,
.contorl input:valid{
    border-color: #147890 ;
}
.control input[type="submit"]{
    font-family: titanfont;
    background: #1f2d38;
    color: #6187a6;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .7;
    transition: opacity .3s ease;
}
.control input[type="submit"]:hover{
    opacity: 1;
}
.link{
    text-align: center;
}
.link a{
    text-decoration: none;
    color: #fff;
    opacity: .6;
    transition: opacity .3s ease;
}
.link a:hover{
  opacity: 1;
}




/* responsive */

@media (max-width: 584px){
    .form-container{
        max-width: 100%;
    }
}